body {
    background-color: #1B0B2C;
    font-family: 'Arial', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    padding: 2rem 1rem;
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.job-listings {
    margin-bottom: 2rem;
}

.job-listing {
    background-color: #29203A;
    border-radius: 8px;
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

.job-listing:hover {
    background-color: #3E3056;
}

.job-title {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.job-title span {
    font-size: 1rem;
}

.job-location {
    font-size: 0.85rem;
    color: #A89ABF;
}

.job-experience {
    font-size: 0.85rem;
    color: #A89ABF;
}

.arrow {
    font-size: 1.5rem;
}

.view-all-button {
    background-color: #3E3056;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.75rem 2rem;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.view-all-button:hover {
    background-color: #504166;
}
